.loginContainer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .loginFormContainer{
    max-width: 5y00px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .loginForm {
    /* margin: 30px 30px 0 30px; */
    padding-bottom:10px ;
    gap: 10px;
    border-bottom: 1px solid gray;
  }
  
  .h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    /* height: 5px; */
  }
  
  .button {
    background-color: #00709c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #45a049;
  }

  .banner{
    background-color: #005b80;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 200px;
    }
  }

  .loginSide{
    width: 69%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  