/* .hookForm{} */
.registerContainer {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  padding: 100px 0;
}

.registerFormContainer {
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ccc;

  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registerForm {
  margin: 30px 30px 0 30px;
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  gap: 10px;
  border-bottom: 1px solid rgb(177, 176, 176);
}
.registerFormHeading {
  padding-left: 30px;
}
.label {
  display: block;
  margin-bottom: 1px;
}

.formInput_name {
  grid-column: span 3;
}
.formInput_phone,
.formInput_state,
.formInput_password,
.formInput_confirmPassword {
  grid-column: span 2;
}
.formInput_button {
  grid-column: 2 / 4;
  /* grid-column-start: 4; */
  /* display: flex;
  justify-content: end; */
  padding-bottom: 15px;
}

@media (max-width: 645px) {
  .formInput_name,
  .formInput_initial,
  .formInput_email,
  .formInput_phone,
  .formInput_address,
  .formInput_country,
  .formInput_state,
  .formInput_district {
    grid-column: span 2;
  }
  .formInput_password {
  }
  .formInput_confirmPassword {
  }
  .formInput_button {
    /* grid-column: 4 / 5; */
  }
}

@media (max-width: 412px) {
  .formInput_name,
  .formInput_initial,
  .formInput_email,
  .formInput_phone,
  .formInput_address,
  .formInput_country,
  .formInput_state,
  .formInput_district,
  .formInput_password,
  .formInput_confirmPassword {
    grid-column: span 4;
  }
  .formInput_button {
    /* grid-column: -3/-1; */
  }
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.textarea {
  resize: vertical;
  height: 34px;
}

.select {
  cursor: pointer;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input{
  display: block;
  height: 34px;

}

/* Optional: Add some spacing and styling for better readability */
/*   
  form > div {
    margin-bottom: 20px;
  } */

/* form > div label,
  form > div input,
  form > div textarea,
  form > div select {
    display: block;
  } */

/* Optional: Style error messages */

.error {
  color: red;
  font-size: 10px;
  display: block;
  height: 10px;
}

.logiWrapLink{
  margin: 0 30px;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-content: center;
  padding:15px 0;
}
.logiLink{
  
  /* text-decoration: none; */
  /* padding: 5px 10px; */
  /* color: #fff; */
  /* background-color: #9da7ac; */
  border-radius: 3px;
  font-size: 13px;
  grid-column: 2/3;
  text-align: center;
}